---
layout: default
---

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- h1 Name -->
    <div class="twelve columns">
      <div class="name">{{ site.name }}</div>
    </div>

    <!-- h2 Address and contact details -->
    <div class="twelve columns">
      <div class="address">{{ site.address }}</div>
      <div class="contact">{{ site.phone }} {{ site.email }}</div>
    </div>

    {% include loop.html %}

    <p style="font-size:1.7rem;">
      Setup help to source control the site on <a href="https://bitbucket.org">BitBucket</a>, build and deploy it using <a href="https://app.wercker.com">Wercker</a>, store it at and host it from <a href="https://aws.amazon.com/s3">Amazon&nbsp;S3</a>, and deliver it by <a href="https://aws.amazon.com/cloudfront">CloudFront</a> is available in the <a href="/making"><strong>technical notes</strong></a>.
    </p>
    <p style="font-size:1.7rem;">
      <span style="color:#933;">°</span> indicates links.
    </p>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
