<!-- h3 Section headings, implemented by categories -->
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %} <!-- Category loop -->
  <div class="twelve columns">
    <!-- Enable deep linking in sections only in loop -->
    <div class="section" id="{{ category[0] | split:'. ' | last | slugify }}"><a href="#{{ category[0] | split:". " | last | slugify }}">{{ category[0] | split:". " | last | capitalize }}</a></div>
  </div>
  {% for post in category[1] %}
    <!--h4 Institution name implemented by post title-->
    <div class="twelve columns">
      <div class="nine columns">
        {% if post.more %}
          <div class="org"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% else %}
          <div class="org">{{ post.title }}</div>
        {% endif %}
      </div>
      <div class="three columns">
        <div class="u-pull-right">
          <div class="org">{{ post.tenure }}</div>
        </div>
      </div>
    </div>
    <div class="twelve columns"
      <!--Designation or degree custom post implementation-->
      <div class="role">{{ post.subtitle }}</div>
      <div class="twelve columns">
        {% if post.more %}
          {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}<li><a href="{{ post.url }}">More details&hellip;</a></ul>
          {% elsif post.content contains '</ul>' %}
          {{ post.content | split:'</ul>' | first }}<li><a href="{{ post.url }}">More details&hellip;</a></ul>
          {% else %}
          {{ post.content | split:'</p>' | first }}<p><a href="{{ post.url }}">More details&hellip;</p></p>
          {% endif %}
        {% else %}
          {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}</ul>
          {% elsif post.content contains '</ul>' %}
          {{ post.content | split:'</ul>' | first }}</ul>
          {% else %}
          {{ post.content | split:'</p>' | first }}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}
