<!-- h3 Section headings, implemented by categories -->
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %} <!-- Category loop -->
  <div class="twelve columns">
    <h4>{{ category[0] | capitalize }}</h4>
  </div>
  {% for post in category[1] %}
    <!--h4 Institution name implemented by post title-->
    <div class="twelve columns">
      <div class="nine columns">
        <a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
      </div>
      <div class="three columns">
        <div class="u-pull-right">
          <h5>{{ post.tenure }}</h5>
        </div>
      </div>
    </div>
    <div class="twelve columns"
      <!--Designation or degree custom post implementation-->
      <h6>{{ post.subtitle }}</h6>
      {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
      {% elsif post.content contains '</ul>' %}
        {{ post.content | split:'</ul>' | first }}</ul>
      {% else %}
        {{ post.content | split:'</p>' | first }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}
