---
layout: default
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->
<header>
  <div class="twelve columns" style="margin-top: 20%;">
    <div class="section">{{ page.category | capitalize }}</div>
  </div>
  <div class="twelve columns">
    <div class="org">{{ page.title }}</div>
    {% if page.subtitle %}
    <div class="role">{{ page.subtitle }}</dv>
    {% endif %}
  </div>
</header>

<article>
  <div class="twelve columns">
    {{ content }}
  </div>
</article>

<footer>
  <div class="twelve columns">
    <div class="u-pull-right">
      <div class="section"><a href="/">back</a></div>
    </div>
  </div>
</footer>

<!-- /post -->
